.custom-navbar {
    background: #fff;
}
.custom-nav li a.active {
    color: #2665d9;
}
#serviceBanner,
#aboutBanner,
#contactBanner,
#referenceBanner {
    min-height: 250px;
    background: #cdeaf7;
    padding-top: 120px;
}
#serviceBanner {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../img/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#aboutBanner {
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
#contactBanner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../img/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#referenceBanner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../img/reference-banner.jpg);
    background-size: cover;
    background-position: top center;
}
#serviceBanner .row,
#aboutBanner .row,
#contactBanner .row,
#referenceBanner .row {
    min-height: 250px;
}
.service-banner-text,
.about-banner-text {
    font-weight: 600;
    text-align: right;
    position: relative;
    text-transform: uppercase;
}
.service-banner-text::before,
.about-banner-text::before{
    content: "Services";
    font-size: 100px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    right: 0;
    top: -92px;
    opacity: .6;
}
.about-banner-text::before {
    content: "About Us";
}
.service-banner-text::after,
.about-banner-text::after {
    content: "";
    width: 220px;
    height: 4px;
    background: #000;
    position: absolute;
    right: 235px;
    top: 10px;
}
.about-banner-text::after {
    width: 320px;
    right: 190px;
}
/*web development start*/
#development {
    background: url(../img/bg-9.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}
.dev-content {
    padding: 40px 100px 40px 40px;
    background: rgba(247, 247, 247, 0.7);
    border-radius: 4px;
}
#development h2 {
    font-size: 26px;
}
.bg-custom{
    background: rgba(247, 247, 247, 0.9);
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    min-height: 400px;
}
.dev-left-inner {
    padding-right: 70px;
    width: 550px;
}
.dev-right-inner {
    margin-top: 50px;
    margin-left: 0px;
    box-shadow: 0px 0px 3px 1px #eaeaea;
    padding: 30px 20px 50px;
    width: 600px;
}
.dev-left-inner p{
    line-height: 28px;
    border-left:1px solid #b9b9b9;
    margin-left: 30px;
    padding-left: 15px;
}
.dev-right-inner p {
    font-size: 15px !important;
}
.box{
    background: #fff;
    padding: 20px;
    min-height: 400px;
}
.box-icon {
    max-width: 80px;
}
.box h3{
    font-size: 22px;
    color: #E7B75F;
    margin: 20px 0 10px;
}
.dev-left {
    min-height: 550px;
}
.owl-nav{
    float: right;
    padding-bottom: 30px;
}
.owl-prev span, .owl-next:focus,
.owl-prev span, .owl-prev:focus {
    outline: 0;
    border: 0;
}
.owl-prev span, .owl-next span{
    font-size: 52px;
    margin: 0 5px 0 5px;
    color: #E7B75F;
}
/*web development end*/
/*training start*/
#training {
    padding: 50px 0 60px;
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .8)), url(../img/training-3.jpg);
    background-size: cover;
    background-position: center center;
}
#training .col-md-3:nth-child(even) {
    margin-top: 40px;
}
#training .container {
    max-width: 1200px;
}
.training-heading {
    max-width: 600px;
    margin-bottom: 30px;
}
.single-training {
    position: relative;
    background: #fff;
    padding: 20px 15px 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 1px 8px rgba(254, 164, 6, .4);
    z-index: 99;
    overflow: hidden;
}
.single-training p {
    font-size: 16px !important;
}
.single-training::before {
    content: "";
    width: 4px;
    height: 100%;
    background: #2665d9;
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 9;
}
.single-training::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #2665d9;
    position: absolute;
    left: 10px;
    top: 40px;
    z-index: 99;
}
.single-training-overlay {
    width: 0;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 0;
    background: #2665d9;
    z-index: -9;
    transition: .3s;
}
.single-training:hover {
    color: #fff;
}
.single-training p {
    font-size: 16px;
    line-height: 27px;
}
.single-training:hover p {
    color: #fff;
}
.single-training:hover .single-training-overlay {
    width: 100%;
    transition: .3s;
}
.single-training-icon {
    max-width: 60px;
    margin-bottom: 20px;
}
/*training end*/
/*reqruiting start*/
#reqruiting {
    background: url(../img/bg-10.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0;
}
.reqruiting-left h2 {
    width: 100%;
    margin-top: 30px;
    position: relative;
    padding: 8px;
}
.reqruiting-left h2::before {
    content: "";
    width: 300px;
    height: 100%;
    display: block;
    position: absolute;
    border-left: 4px solid;
    border-top: 4px solid;
    border-bottom: 4px solid;
    left: 0;
    top: 0;
    z-index: -9999;
}
.reqruiting-left h2::after {
    content: "";
    width: 10px;
    height: 100%;
    display: block;
    background: #fff;
    position: absolute;
    left: 142px;
    top: 0;
    z-index: -999;
}
.reqruiting-left::before {
    content: "";
    width: 65%;
    height: 100%;
    background: #fea406;
    position: absolute;
    left: 35%;
    top: 0;
    z-index: -999;
}
.reqruiting-content {
    max-width: 600px;
    padding: 40px;
    background: #fff;
    margin-left: -200px;
    margin-top: 120px;
    margin-bottom: 70px;
    border-radius: 7px;
    box-shadow: 2px 1px 8px rgba(254, 164, 6, .4);
}
/*reqruiting end*/
/*consulting start*/
#consulting {
    background: linear-gradient(rgba(236, 236, 236, 0.5), rgba(233, 233, 233, 0.8)), url(../img/bg-2.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0;
}
.consulting-left-col {
    background: rgba(255, 255, 255, .4);
}
.consulting-content {
    padding: 40px;
}
.consulting-content p {
    position: relative;
    padding-left: 50px;
}
.consulting-content p::before {
    content: "";
    width: 30px;
    height: 100%;
    background: #f6f6f6;
    position: absolute;
    left: 0;
    top: 0;
}
#consulting .right-col {
    background: url(../img/about-landscape.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 350px;
}
/*consulting end*/

/*============about start=============*/
/*about counter start*/
#innerAbout {
    background: url(../img/bg-3.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}
#counter {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 50px 0;
}
#counter::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 100, 217, .87);
}
.counter-single {
    color: #fff;
    border: 2px solid #fff;
    padding: 30px 20px;
    text-align: center;
    transition: .3s;
    position: relative;
    overflow: hidden;
    z-index: 99;
}
.counter-single:hover {
    border-color: transparent;
}
.counter-single::before {
    content: "";
    width: 330px;
    height: 330px;
    background: #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: -180px;
    top: -390px;
    transition: .4s;
    z-index: -9;
}
.counter-single:hover::before {
    left: -50px;
    top: -50px;
/*    transform: rotate(0);*/
    transition: .4s;
}
.counter-single::after {
    content: "";
    width: 330px;
    height: 330px;
    background: #fff;
    transform: rotate(-45deg);
    position: absolute;
    right: -140px;
    bottom: -400px;
    transition: .4s;
    z-index: -9;
}
.counter-single:hover::after {
    right: -50px;
    bottom: -50px;
/*    transform: rotate(0);*/
    transition: .4s;
}
.counter-single:hover {
    transition: .3s;
    color: #000;
}
.counter-single .counter-icon {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
    margin: 0 auto 15px;
    transition: .4s;
}
.counter-single:hover .counter-icon {
    border: 2px solid #000;
    transition: .4s;
}
.counter-single h3 {
    font-weight: 600;
}
.counter-single p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.counter-single:hover p {
    color: #000;
}
/*about counter end*/
/*team start*/
#team {
    padding: 100px 0;
    background: url(../img/bg-4.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.team-single {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    transition: .3s;
    background: #fff;
}
.team-single:hover {
    border-color: transparent;
    box-shadow: 0px 0px 15px 7px #eaeaea;
    transition: .3s;
}
.team-text {
    padding: 15px;
    text-align: center;
}
.team-text h3 {
    font-size: 20px;
    margin-bottom: 0;
}
.team-text p {
    font-size: 14px;
    margin-bottom: 0;
}
.team-social {
    text-align: center;
}
.team-social ul {
    list-style: none;
    margin: 0 0 20px;
}
.team-social ul li {
    text-align: center;
    padding: 8px 0;
    width: 40px;
    height: 40px;
    border: 1px solid #dfdfdf;
    margin: 0 10px;
}
.team-social ul li a {
    color: #6b6b6b;
    transition: .3s;
}
.team-social ul li:hover {
    background: #fea406;
    transition: .3s;
    border-color: #fea406;
}
.team-social ul li:hover a {
    color: #2665d9;
}
/*team end*/
/*client logo start*/
#clientLogo {
    padding: 100px 0;
    background-image: url(../img/bg-5.png), linear-gradient(rgba(255, 255, 255, .41), rgba(255, 255, 255, .41));
    background-size: cover;
    background-position: center center;
    
}
.client-single {
    border: 1px solid #d3d3d3;
    background: #fff;
    padding: 15px;
}
/*client logo end*/
/*============about end=============*/

/*============contact start=============*/
/*form start*/
#form {
    padding: 100px 0;
    background: url(../img/bg-1.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.address-single {
    border: 1px solid #d8d8d8;
    padding: 20px 15px;
}
.address-single .form-icon {
    padding-right: 20px;
}
.address-single .form-icon i {
    font-size: 30px;
    color: #2665D9;
}
.form-group {
    margin: 10px 0;
}
.contact-form input {
    padding: 16px 20px !important;
}
.contact-form textarea {
    resize: vertical;
    min-height: 200px;
    margin-bottom: 30px;
}
/*form end*/
/*more details start*/
#moreDetails {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url(../img/about-4-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.more-details-content {
    padding: 50px 40px;
    text-align: center;
}
.more-details-icon i {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
/*more details end*/


/*============contact end=============*/
/* =========== training start ======== */
#bannerSlider .carousel-caption {
    bottom: 50% !important;
    transform: translate(0, 50%);
    max-width: 700px;
    margin: 0 auto;
}
.training-slide-1,
.training-slide-2,
.training-slide-3 {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .8)), url(../img/about-landscape.jpg);
    min-height: 600px;
}
.training-slide-2 {}
.training-slide-3 {}
.carousel-control-prev i,
.carousel-control-next i {
    color: #000;
    font-size: 50px;
}
/* module start */
#trainingModule {
    padding: 50px 0;
}
.module-single {
    min-height: 650px;
    position: relative;
    background: #fbfce3;
    border: 1px solid #f4f5d0;
    border-radius: 10px;
}
.module-single .module-header {
    padding: 30px 0;
    background:  #f4f5d0;
}
.module-content {
    padding: 0 20px 30px;
}
.module-content ul {
    max-width: 260px;
    margin: 0 auto 30px;
}
.module-content ul li {
    margin-bottom: 10px;
}
.module-content i {
    margin-right: 10px;
}
.module-content a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
.module-single h4 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.module-icon {
    width: 90px;
    height: 90px;
    background: #fadaa3;
    border: 10px solid #f8c875;
    padding: 20px;
    border-radius: 50%;
    margin: 20px auto;
}
.module-single h3 {
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: center;
    margin-bottom: 15px;
}

/* module end */
/* training program start */
#program {
    background: #F1F2F8;
}
.program-title-row {
    border-bottom: 2px solid #fff;
    margin-bottom: 40px;
}
.program-single {
    background: #fff;
    padding: 20px;
    padding-top: 60px;
    position: relative;
    margin-bottom: 30px;
}
.program-content {
    min-height: 250px;
}
.program-single .btn-custom-line {
    font-size: 16px !important;
    font-weight: bold;
    color: #317FD3;
    background: transparent;
    position: relative;
    padding: 0;
    z-index: 99;
}
.program-single .btn-custom-line::before {
    content: "";
    width: 100%;
    height: 6px;
    background: #FDA305;
    position: absolute;
    bottom: 2px;
    z-index: -9;
}
.program-single h3 {
    font-weight: 600;
}
.program-icon {
    max-width: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
.program-single-footer {
    border-top: 1px solid #EDEDED;
    padding: 10px 0;
}
.program-single-footer p strong {
    font-weight: 600 !important;
    color: #000;
}
.program-single-footer p {
    font-size: 14px !important;
    margin-bottom: 0;
}
.footer-col-left {
    border-right: 1px solid #EDEDED;
}
/* training program end */
/* training message start */
#trainingMsg {
    padding: 100px 0;
    background: linear-gradient(rgba(95, 230, 104, .5), rgba(95, 230, 104, .5)), url(../img/bg-green.png);
    background-size: cover;
    background-position: center center;
}
/* training message end */
/* faq start */
.faq-card {
    border: 1px solid rgba(230, 230, 230, .9);
    margin-bottom: 12px;
}
.faq-card .card-body {
    color: rgba(0, 0, 0, .7);
}
.card-header-custom {
    padding: 12px;
}
.card-header-custom button {
    color: #000;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.card-header-custom button:hover {
    text-decoration: none;
    color: #000;
}
.card-header-custom button:focus {
    text-decoration: none;
}
.card-body {
    background: rgb(247, 247, 247);
}
.faq-list li {
    margin-bottom: 10px;
    position: relative;
    margin-left: 30px;
}
.faq-list li i {
    position: absolute;
    left: -30px;
    top: 3px;
}
/* faq end */
/* =========== training end ======== */
/* =========== reference start ======== */
/* portfolio start */
#portfolios {
    overflow: auto;
    min-height: 700px;
    background: url(../img/bg-11.png) repeat;
    background-position: center center;
}
#portfolios .col-md-4 {
    background: #fff;
}
.single-portfolio {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
}
.portfolio-md {
    min-height: 400px;
}
.portfolio-sm {
    min-height: 200px;
}
.portfolio-sm .single-portfolio-content h3 {
    font-size: 18px !important;
    line-height: 1.4 !important;
    font-weight: 600;
}
.single-portfolio-content {
    padding-top: 60px;
    color: #000;
    padding: 10px 15px;
}
#portfolio a:hover h3 {
    color: #FEA406;
}

/* portfolio end */
/* =========== reference end ======== */
/* =========== web design end ======== */
/* way start */
#way {}
.way-list li {
    margin-bottom: 16px;
}
.way-list li i {
    color: rgb(255, 255, 255);
    background: #000;
    border-radius: 50%;
    border: 4px solid rgb(218, 218, 218);
}

/* way end */
/* get start */
#get {
    background: url(../img/bg-12.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.get-fill {
    background: #5CB85C;
    padding: 0;
}
.get-fill p {
    color: #fff;
    margin-bottom: 0;
    padding: 10px;
}
/* get end */
/* desgign quote start */
#designQuote {}
.design-quote-content {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 20px #cecece65;
    position: relative;
}
.get-quote-img {
    max-width: 350px;
    position: absolute;
    right: 0;
    top: -40px;
}
/* desgign quote end */
/* design technology start */
#designTech {
    background: #FCF8F8;
}
.tech-single {
    background: #fff;
    padding: 20px;
    min-height: 160px;
    display: flex;
    align-items: center;
}
/* design technology end */
/* =========== web design end ======== */
/* =========== api testing end ======== */
/* api certificate start */
#apiCer {
    background: #FAF8F8;
}
.api-content {
    padding-left: 100px;
}
.cer-table-row {
    padding: 8px 0;
}
.api-cer-table table {
    border-top: 6px solid #FEA406;
    background: #fff;
}
/* api certificate end */
/* api batch start */
#apiBatch {
    background: #EBEBF8;
}
.api-batch-single {
    background: #fff;
    padding: 40px 30px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.api-batch-single .date {
    font-size: 22px;
    color: rgb(46, 46, 46);
}
.api-batch-single .time {
    font-size: 16px;
}
.phone-icon {
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
.phone-icon i {
    color: #fff;
}
.api-cta-row {
    max-width: 280px;
}
.api-cta-row .cta-title {
    font-size: 22px;
    font-weight: 600;
}
.api-cta-row .cta-num {
    font-size: 16px;
}
/* api batch end */
/* course table start */
#courseTable {
    background: rgb(245, 241, 241);
}
.course-table-title {
    background: #FEA406;
    color: #fff;
}
/* course table end */
/* =========== api testing end ======== */
/* =========== it-trainging end ======== */
/* it start */
.it-content {
    padding: 42px 0;
    padding-left: 100px;
}
/* it end */
/* facilities start */
.fa-single {
    text-align: center;
    background: #fff;
    padding: 30px 20px;
    margin-bottom: 20px;
    min-height: 230px;
}
.fa-icon {
    max-width: 80px;
    margin: 0 auto 20px;
}
.fa-single h3 {
    font-size: 20px;
}
/* facilities end */
/* expert start */
#expert {
    background: url(../img/tep-home-footer-background.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}

/* expert end */
/* =========== it-training end ======== */
/* single blog start */
#blog {
    padding: 100px 60px;
}
.blog-content h1 {
    margin: 20px 0;
}
.blog-content h3 {
    font-weight: 600 !important;
    margin-bottom: 20px;
}
.blog-content .text-italic {
    font-style: italic;
}
.blog-content p {
    line-height: 2;
}
.blog-content strong {
    color: rgb(39, 39, 39);
}
/* single blog end */
/* single training page start */
#singleTraining {
    padding-top: 150px;
    padding-bottom: 60px;
}
.train-left-content-list li {
    padding: 12px 15px;
    background: #2665d911;
    border-bottom: 1px solid #3d6ec917;
}
.train-left-content-list li i {
    margin-right: 8px;
}
.train-left-content .btn-custom-dark-block {
    font-size: 12px;
    padding: 5px 12px;
}
.list-inner-right {
    color: #2665d9;
}
#singleTraining .d-block {
    width: 100%;
}
.btn-custom-dark-block {
    background: #2665d9;
    color: #fff;
    padding: 12px;
}
.btn-custom-dark-block:hover {
    color: #fff;
    background: #1954c2;
}
/* single training page end */
/* instructor start */
#help {
    padding: 50px 0;
    background: #2665d9;
    color: #fff;
}
#instructor .form-group {
    margin: 15px 0 !important;
}
/* instructor end */



